[Unit]
Description=Smart Panel Service
After=network.target

[Service]
WorkingDirectory=/home/pi/.config/versions/node/v12.2.0/bin/node /home/pi/App/smart-panel/server.js
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target