[Unit]
Description=Smart Panel Service
After=network.target

[Service]
WorkingDirectory=/apps/smart-panel
ExecStart=/bin/bash run.sh
Restart=on-failure
User=pi
Environment=PORT=3000

[Install]
WantedBy=multi-user.target