[Unit]
Description=Smart Panel Service
After=network.target

[Service]
ConditionPathExists==/home/pi/Apps/smart-panel
WorkingDirectory=/home/pi/Apps/smart-panel
ExecStart=npm start
Restart=on-failure
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target